## Brainstorming
#### Analysis Questions 
- What was the original size of the data set chosen, and was it expanded to meet the requirement of 5,000 observations (5,000 rows)? 
- What method was used to expand the data set to contain 5,000 rows: (AI was used based on the trend of the data set) 
- How did this expansion method affect the data set?

#### Data Quality Assessment
- **First**: Assess the non-number, NaN, values
    - Remove NaN values using `.dropna()`
        - When removing all the NaN values, only 44 rows remain
    - Need to find all NaN values with `.isna()`, which returns a boolean mask
- Check data types using `.info()`
    - displays: Column names, types, non-null counts, memory
- Check statistical description using `.describe()`
- Use a random function to randomly extract 7500 rows/observations from the dataset
- Use `.value_counts()` for frequency count of each category
- Convert all NaN to random number values based on the mean of each column

In [32]:
import numpy as np
import pandas as pd

# loading Dataset from a CSV file #
Eng_raw = pd.read_csv("data/engineering_messy_dataset.csv")

# Eng_raw = Eng_raw.replace('??', np.nan)
# Eng_cleaning_qm => Engineering, cleaning question marks
Eng_clean = Eng_raw.dropna()

# pd.to_datetime(Eng_raw['Last_Maintenance'])

# Eng_Repaired_count = Eng_raw.query('Repaired == "Y" or Repaired == "yEs" or Repaired == "No" or Repaired == "N" or Repaired == "Yes" or Repaired == "yes" or Repaired == "no"').count()
# Eng_Repaired_count = Eng_Repaired_count[['Repaired']]

print(f"\n{Eng_raw['Repaired'].unique()}\n")
Eng_raw["Repaired"] = (
    Eng_raw["Repaired"].str.lower().replace({"yes": "Yes", "y": "Yes", "no": "No", "n": "No"})
)
print(f"\n{Eng_raw['Repaired'].unique()}\n")
print(f"\n{Eng_raw['Technician'].unique()}\n")
Eng_raw["Technician"] = Eng_raw["Technician"].replace({"j@mes": "James"})
print(f"\n{Eng_raw['Technician'].unique()}\n")
print(f"\n{Eng_raw['Status'].unique()}\n")
Eng_raw["Status"] = Eng_raw["Status"].replace(
    {"Inactive": "inactive", "ACTIVE": "active", "Active": "active"}
)
print(f"\n{Eng_raw['Status'].unique()}\n")

with pd.option_context("display.max_colwidth", None, "display.max_rows", None):
    Eng_raw_unique = Eng_raw[["Name", "Material", "Notes", "Remarks", "Comments"]].apply(
        lambda x: x.unique()
    )
    print(f"\n{Eng_raw_unique}")

Eng_raw["Name"] = Eng_raw["Name"].replace(
    {"gear_shaft": "gear shaft", "pipe_section": "pipe section"}
)
print(f"\n{Eng_raw['Name'].unique()}\n")
Eng_raw["Material"] = Eng_raw["Material"].str.lower().replace({"alum.": "aluminium"})
print(f"\n{Eng_raw['Material'].unique()}\n")
Eng_raw["Name"] = Eng_raw["Name"].replace(
    {"gear_shaft": "gear shaft", "pipe_section": "pipe section"}
)

# Extracting 7500 rows from dataset #
# Eng_cleanSize = Eng_clean.sample(n=7500, random_state=1)
# print(f"\n{Eng_raw.dtypes}\n")
# print(f"\n{Eng_raw.isna()}\n")

print(f"\n{Eng_raw.info()}\n")
print(f"{Eng_raw.describe()}\n")
print(f"Shape/dimensions of DataFrame: {Eng_raw.shape}\n")
print(f"Number of Elements: {Eng_raw.size}\n")

# Eng_raw.head(20)
print(f"Shape/dimensions of DataFrame: {Eng_clean.shape}\n")
Eng_raw

['Y' 'yEs' 'No' 'N' nan 'Yes' 'yes' '??' 'no']


['Yes' 'No' nan '??']


['Mike' 'Paul' 'Tomi' 'j@mes' 'Ada' 'Ola' 'John' 'Janet' 'Jane' nan
 'James']


['Mike' 'Paul' 'Tomi' 'James' 'Ada' 'Ola' 'John' 'Janet' 'Jane' nan]


['faulty' 'active' 'Inactive' 'inactive' 'ACTIVE' 'Active' nan 'repair']


['faulty' 'active' 'inactive' nan 'repair']


Name        [nozzle, piston, valve, rotor, pump, bolt, joint, filter, bearing, spring, gear_shaft, pipe_section, axle, cylinder]
Material                                               [??, Titanium, Aluminium, Brass, steel, Copper, Iron, Alum., iron, Steel]
Notes             [good cond., broken, rust forming, cleaned, slight rust, dirty, crack on edge, loose fitting, nan, minor dent]
Remarks                                                                   [fine, weak, good, bad, none, ok, replace soon, !, ??]
Comments                                                         [replaced, fine, delayed, ok, done, nan, urgent, pending, none]
dtype: object

['nozzle' 'piston' 'valve' 'rotor' 'pump' 'bolt' 'joint' 'filter'
 'bearing' 'spring' 'gear shaft' 'pipe section' 'axle' 'cylinder']


['??' 'titanium' 'aluminium' 'brass' 'steel' 'copper' 'iron']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Component_ID      50000 non-null  object
 1   Name              50000 non-null  object
 2   Material          50000 non-null  object
 3   Weight(kg)        30025 non-null  object
 4   Length(cm)        25102 non-null  object
 5   Width(cm)         16400 non-null  float64
 6   Temp(C)           30031 non-null  object
 7   Pressure(bar)     24936 non-null  object
 8   Status            43752 non-null  object
 9   Last_Maintenance  25203 non-null  object
 10  Technician        45480 non-null  object
 11  Efficiency(%)     24984 non-null  object
 12  Notes             44987 non-null  object
 13  Cost(₦)           29996 non-null  object
 14  Batch             42940 non-null  object
 15  Remarks           50000 non-null  object
 16  Production_Date   25009 non-null  object
 17  Fault_Code        45486 non-null  object
 18  Repaired          44358 non-null  object
 19  Comments          44419 non-null  object
dtypes: float64(1), object(19)
memory usage: 7.6+ MB

None

          Width(cm)
count  16400.000000
mean      34.075427
std       15.382141
min        8.000000
25%       21.000000
50%       34.000000
75%       48.000000
max       60.000000

Shape/dimensions of DataFrame: (50000, 20)

Number of Elements: 1000000

Shape/dimensions of DataFrame: (44, 20)

,Component_ID,Name,Material,Weight(kg),Length(cm),Width(cm),Temp(C),Pressure(bar),Status,Last_Maintenance,Technician,Efficiency(%),Notes,Cost(₦),Batch,Remarks,Production_Date,Fault_Code,Repaired,Comments
0,CMP00001,nozzle,??,NaN,146,NaN,NaN,NaN,faulty,10/18/2024,Mike,??,good cond.,NaN,B3,fine,NaN,F007,Yes,replaced
1,CMP00002,piston,titanium,??,NaN,NaN,xx,11.6,active,11/28/2024,Paul,??,broken,12157,B1,weak,10/13/2024,F005,Yes,fine
2,CMP00003,nozzle,aluminium,33,96,NaN,NaN,NaN,inactive,11/19/2024,Tomi,NaN,broken,59545,B6,good,NaN,F007,No,delayed
3,CMP00004,valve,brass,NaN,NaN,27.0,NaN,NaN,inactive,NaN,James,NaN,rust forming,??,NaN,bad,NaN,F001,Yes,fine
4,CMP00005,rotor,steel,7.45,NaN,NaN,??,11.54,inactive,11/3/2024,James,??,cleaned,NaN,NaN,none,NaN,F004,No,ok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CMP49996,gear shaft,??,5.17,NaN,53.0,NaN,NaN,active,NaN,Ada,85.3,dirty,37216,B1,weak,NaN,F005,No,urgent
49996,CMP49997,spring,steel,5.49,NaN,59.0,78.7,NaN,active,NaN,Paul,??,dirty,NaN,B6,!,NaN,F002,Yes,replaced
49997,CMP49998,bearing,copper,8.29,71,NaN,??,9.72,inactive,2/1/2024,Tomi,NaN,cleaned,NaN,B2,??,NaN,F004,??,ok
49998,CMP49999,gear shaft,??,3.81,??,NaN,NaN,NaN,inactive,NaN,Paul,??,good cond.,14258,B4,fine,NaN,F004,No,none
49999,CMP50000,bearing,aluminium,??,22,NaN,xx,NaN,NaN,NaN,NaN,NaN,broken,10255,B1,replace soon,NaN,F009,No,replaced